export PLAT=rpi4b
export TOP_ARCH=arm
export ARCH=armv8-a

export ARMGNU ?= aarch64-none-elf
export AOPS = --warn --fatal-warnings
export COPS = -I${INC_DIR} -Wall -Werror -nostdlib -nostartfiles -ffreestanding

export LIBDOGS = dogprint hellodog
